DATABASE_URL=postgresql://postgres:secret@localhost:5432/db_sample
BETTER_AUTH_URL=http://localhost:4321/
BETTER_AUTH_BASE_URL=http://localhost:4321/
BETTER_AUTH_SECRET=fooo

RATE_LIMIT_WINDOW=900
MAX_ATTEMPTS=5

# FOR MIGRATION
DB_HOST=localhost
DB_PORT=5432
DB_NAME=db_sample
DB_USER=postgres
DB_PASSWORD=secret
